<div class="location-view container">
  <form>
    <div class="row">
      <div class="input-field">
        <input id="location-name" ng-model="location.name" type="text" class="validate">
        <label for="location-name">Location Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <input id="location-address" ng-model="location.address" type="text" class="validate">
        <label for="location-address">Address</label>
      </div>
    </div>
  </form>
  <div class="z-depth-2">
    <ui-gmap-google-map center='location.coordinates'
                        zoom='8'
                        options="{disableDefaultUI: true}"
                        ></ui-gmap-google-map>
  </div>
</div>
