<div class="location-view container">
  <form ng-submit="location.save()">
    <div class="row">
      <div input-field>
        <input type="text" ng-model="location.obj.name" length="150">
        <label>Location Name</label>
      </div>
    </div>
    <div class="row">
      <div input-field>
        <input type="text" ng-model="location.obj.address" length="150">
        <label>Address</label>
      </div>
    </div>
    <div class="row">
      <select material-select class="browser-default"
      ng-change="location.addCategory(newCategory); newCategory=''"
      ng-model='newCategory'>
      <option value disabled selected>Add a category</option>
      <option ng-repeat="category in location.availableCategories() track by category">
        {{category}}
      </option>
    </select>
  </div>
  <div class="row">
    <span class="category-chip chip" ng-repeat='category in location.obj.categories track by category'>
      {{category}}
      <i ng-click="location.removeCategory(category)" class="material-icons">close</i>
    </span>
  </div>
  <div class="row">
    <div class="z-depth-2">
      <ui-gmap-google-map center='location.mapCenter'
      zoom='8'
      options="{disableDefaultUI: true}"
      >
        <ui-gmap-marker
                idKey='location-view-marker-id'
                coords='location.obj.coordinates'>
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
  <div class="row">
    <input type="submit" class="btn right" value="Save" />
  </div>
</form>
</div>
