.location-view {
  padding-top: 15px;

  .angular-google-map-container {
    height: 200px;
  }

  .input-field {
    label {
      z-index: -1;
    }
  }

  .category-chip {
    margin-right: 5px;
  }
}
