main > .map-container .angular-google-map-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.main-view {
  position: relative;
  height: 100%;

  .main-view-content {
    display: flex;
    flex-direction: column;
  }

  .new-location-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

