<div class="map-container">
  <ui-gmap-google-map center='main.selectedLocationCoords' zoom='10' options="{disableDefaultUI: true}"></ui-gmap-google-map>
</div>
<div class='main-view'>
  <div class="main-view-content container">

    <div id="new-category-modal" class="modal">
      <div class="modal-content">
        <h5>Add new category<h5>
        <div input-field>
          <input type="text" id="new-category-name" ng-model="categorySelector.newCategoryName" length="20"/>
          <label>Category name</label>
        </div>
      </div>
      <div class="modal-footer">
          <a href="javascript:void(0);" ng-click='categorySelector.addNewCategory()' class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
      </div>
    </div>

    <locations-list onLocationSelected="main.onLocationSelected"></locations-list>
  </div>
  <div class="container">
    <a ui-sref="location" class="new-location-button btn-floating btn-large waves-effect waves-light right"><i class="material-icons">add</i></a>
  </div>
</div>
