<div class="map-container">
  <ui-gmap-google-map center='main.selectedLocationCoords' zoom='8'></ui-gmap-google-map>
</div>
<div class="main-view container">
  <category-selector categories="main.categories" selected-categories="main.categoryFilter"></category-selector>
  <locations-list locations="main.locations" category-filter="main.categoryFilter" onLocationSelected="main.onLocationSelected"></locations-list>
</div>
<a ui-sref="location" class="new-location-button btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>

