<div class="main-view container">
  <category-selector categories="main.categories" selected-categories="main.categoryFilter"></category-selector>
  <div class="row">
    <div class="col s6">
      <locations-list locations="main.locations" category-filter="main.categoryFilter" onLocationSelected="main.selectLocation"></locations-list>
    </div>
    <div class="col s6">
      <ui-gmap-google-map center='main.selectedLocation.coordinates' zoom='8'></ui-gmap-google-map>
    </div>
  </div>
</div>
