.category-selector {

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin-left: 10px;
      margin-bottom: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

  }

}
