@import '../assets/style/variables';

.categories-view {

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      margin-left: 10px;
      margin-bottom: 10px;
    }

  }

}
