<div class="category-selector">
  <ul>
    <li ng-repeat="category in categorySelector.categories track by category">
      <a class="chip waves-effect waves-light"
         ng-class="{active: categorySelector.isSelected(category)}"
         ng-click="categorySelector.toggle(category)">
        {{category}}
        <i ng-click="categorySelector.delete(category)" class="material-icons">close</i>
      </a>
    </li>
    <li>
    <a href='#new-category-modal' class="waves-effect waves-circle waves-light btn-floating" modal>
      <i class="material-icons">add</i>
    </a>
    </li>
  </ul>
</div>

<!-- Modal Structure -->
<div id="new-category-modal" class="modal">
    <div class="modal-content">
      <h5>Add new category<h5>
      <div input-field>
        <input type="text" id="new-category-name" ng-model="categorySelector.newCategoryName" length="20"/>
        <label>Category name</label>
      </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" ng-click='categorySelector.addNewCategory()' class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
</div>
