<div id="category-selector" class="category-selector side-nav fixed">
  <ul>
      <li ng-repeat="category in categorySelector.categories track by category"
          ng-class="{selected: categorySelector.isSelected(category)}"
          ng-click="categorySelector.toggle(category)"
          class="waves-effect waves-purple">
        <a>
          {{category}}
        </a>
        <i ng-click="categorySelector.delete(category)" class="material-icons secondary-content">delete</i>
      </li>
      <li>
        <a href='#new-category-modal'>
          Add new category
        </a>
        <i class="material-icons secondary-content">add</i>
      <li>
  </ul>
</div>
