<div class="category-selector">
  <ul>
    <li ng-repeat="category in categorySelector.categories track by category">
      <a class="chip waves-effect waves-light"
         ng-class="{active: categorySelector.isSelected(category)}"
         ng-click="categorySelector.toggle(category)">
        {{category}}
        <i ng-click="categorySelector.delete(category)" class="material-icons">close</i>
      </a>
    </li>
    <li>
    <a href='#new-category-modal' class="waves-effect waves-circle waves-light btn-floating" modal>
      <i class="material-icons">add</i>
    </a>
    </li>
  </ul>
</div>
