<div class="locations-list">
  <ul class="collapsible popout" data-collapsible="accordion" watch>
    <li class="collection-item"
        ng-click="locationsList.select(location)"
        ng-if="locationsList.isVisible(location)"
        ng-repeat="location in locationsList.locations track by location.name">
        <div class="collapsible-header">
          <div class="location-details">
            <h5>{{location.name}}</h5>
            <span class="location-address" pushpin>{{location.address}}</span>
          </div>
          <div class="secondary-content">
            <span class='chip' ng-repeat='category in location.categories'>{{category}}&nbsp;</span>
          </div>
        </div>
    </li>
  </ul>
</div>
