@import '../assets/style/variables';

.locations-list {

  .collapsible-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h5 {
      margin-bottom: -15px;
    }

    .location-address {
      margin-top: 0;
      color: grey;
    }
  }

  .chip {
    margin-left: 2px;
    line-height: 18px;
    height: 16px;
    margin-top: 15px;
    border-radius: 15px;
  }

}
