<div class="locations-list">
  <ul class="collection">
    <li class="collection-item"
        ng-if="locationsList.isVisible(location)"
        ng-repeat="location in locationsList.locations track by location.name">
        <div>
          <h5 class="title">{{location.name}}</h5>
          <span>{{location.address}}</span>
        </div>
        <div>
          <span class='secondary-content chip' ng-repeat='category in location.categories'>{{category}}&nbsp;</span>
        </div>
    </li>
  </ul>
</div>
